<div class="container my-5">

        <div class="row">
            <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">About Us</h2>
                    <p class="card-text">Lorem ipsum dolor sit amey, consectetur adipiscing elit. Sed euismod lectus vitae enim posuere, in  consectetur adipiscing elit. Sed euismod lectus vitae enim posuere, bibendum velit  consectetur adipiscing elit. Sed euismod lectus vitae enim posuere,  consectetur adipiscing elit. Sed euismod lectus vitae enim posuere, tristique...</p>
                    <!-- Add more content as needed -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- <img src="placeholder-image.jpg" alt="Team Photo" class="img-fluid"> -->
        </div>
    </div>
</div>
